body{
    background-color: rgb(149, 238, 189);
}

/* .navbar-custom{
    background-color:#c22424;
    color:white;
    height: 100px;
} */

.navbar .navbar-collapse {
    
    text-align: right;
}

/* .stylenav{
    justify-content :right;
    align-items: flex-end;
    font-weight: 500;

} */

.hover:hover{
    cursor:pointer;
}


.header-style{
    color:white;

}

.title{
    font-size: 35px;
    font-weight: bold;
}

.text-style{
    color:white;
}

.foot-style{
    margin-left: 20px;
}

.centered{
    text-align: center;
}
    




.card-custom{
    background-color: #616c72;
    color: white;
    border-radius: 15px;
    border:5px solid #c22424 ;
    margin-top: 10px;
}

.project-card{
    
    background-color: #616c72;
    color: black;
    border-radius: 5px;
    border:5px solid #c22424 ;
    margin: 15px;
}

.projects{
    padding:10px;
    margin: 10px;
}

footer{
    background-color: #c22424;
    color: white;
    height: 200px;
}

.icons{
    float:right;
}